<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title>Restaurants</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5 mb-5">

    <!-- RESTAURANT CARDS -->
    <div th:if="${restaurants != null}">
        <div th:each="restaurant : ${restaurants}" 
             class="card shadow-sm mb-4 border" 
             style="border-radius: 12px; border-bottom: 1px dotted black;">
     	 <a th:href="@{'/restaurantmenu/' + ${restaurant.id}}" class="text-decoration-none text-dark">
         <div class="row g-0 align-items-center">

                <!-- RESTAURANT IMAGE -->
                <div class="col-md-4 text-center p-0" style="height: 250px;">
                    <div class="d-flex align-items-center justify-content-center text-white rounded" 
                         style="width: 100%; height: 100%;">
						 <!-- Image -->
						 <img th:src="${restaurant.imageURL}" 
						      class="w-100 h-100 object-fit-cover rounded-start" 
						      alt="Restaurant Image" 
						      style="object-fit: cover; border-top-left-radius: 12px; border-bottom-left-radius: 12px;">
                    </div>
                </div>

                <!-- RESTAURANT DETAILS -->
                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title fw-bold mb-1" 
                            th:text="${restaurant.name}">[Restaurant Name]</h5>
                        <p class="mb-1" th:text="${restaurant.address}">[Address]</p>
                        <p class="mb-3" th:text="${restaurant.phone}">[Phone]</p>

                        <p class="text-muted small mb-3" th:text="${restaurant.description}">
                            Restaurant Description.
                        </p>

                        <!-- STATISTICS -->
                        <div class="d-flex justify-content-start gap-4 mb-3">
                            <p class="mb-0">Total Items: <strong>0</strong></p>
                            <p class="mb-0">Total Orders: <strong>0</strong></p>
                        </div>
                   </div>
                </div>
            </div>
     	 </a>
        </div>
    </div>
</section>
</body>
</html>
