<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title>Sign In</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5" style="max-width: 600px;">
	<video autoplay muted loop id="bg-video">
	    <source th:src="@{/videos/videoBG.mp4}" type="video/mp4">
	</video>
	
	<div class="container-fluid text-bg-dark rounded bg-opacity-75 p-4">
    <h2 class="text-center mb-4">Sign In</h2>
	
	<div th:if="${loginError}" class="mb-2 rounded text-danger bg-dark text-center">
	    <p th:text="${loginError}"></p>
	</div>
	
	<div class="text-center">
    <!-- Sign In Form -->
    <form th:action="@{/signin}" th:object="${userModel}" method="post">

        <!-- Username -->
        <div class="form-group mb-4">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"></div>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"></div>
        </div>

        <!-- Submit Button -->
        <div class="d-grid mt-5">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>

    <!-- Link to Sign Up -->
    <div class="text-center mt-3">
        <p>Don’t have an account? <a th:href="@{/signup}">Sign Up</a></p>
    </div>
	</div>
	</div>
</section>
</body>
</html>
</html>