<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title>Speed-E-Eats!</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5 text-center">
        <h2>User Profile</h2>
        <p>Welcome, <span th:text="${username}">Sample User</span></p>

        <!-- Links for Restaurant role -->
        <div class="mt-4">
            <a th:href="@{/restaurantadmin}" href="restaurantadmin.html" class="btn btn-primary me-2">Manage My Restaurant</a>
        </div>
    </section>
</body>
</html>
